[server]
[mysqld]
character_set_server=utf8
collation-server=utf8_bin
init_connect="SET NAMES utf8 collate utf8_bin"
port            = 3306
socket          = /var/lib/mysql/mysql.sock
innodb_file_per_table=1
innodb_buffer_pool_size = 768M 
innodb_buffer_pool_instances=1
innodb_flush_log_at_trx_commit = 0
innodb_log_file_size = 512M
innodb_log_files_in_group = 3
innodb-strict-mode = OFF
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set=utf8
[galera]
[embedded]
[mariadb]
[mariadb-10.3]